<div id="content">
  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a class="anchor" href="#c-colors" data-toggle="tab"><i class="fa fa-check-circle"></i></a></li>
    <li><a class="anchor" href="#c-font" data-toggle="tab"><i class="fa fa-check-circle"></i></a></li>
    <li><a class="anchor" href="#c-html-plain" data-toggle="tab"><i class="fa fa-check-circle"></i></a></li>
    <li><a class="anchor" href="#c-javascript" data-toggle="tab"><i class="fa fa-check-circle"></i></a></li>
    <li><a class="anchor" href="#c-search" data-toggle="tab"><i class="fa fa-check-circle"></i></a></li>
  </ul>
  <div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="c-colors"><%= erb :colors, views: 'views/challenges_examples' %></div>
    <div class="tab-pane" id="c-font"><%= erb :font, views: 'views/challenges_examples' %></div>
    <div class="tab-pane" id="c-html-plain"><%= erb :html, views: 'views/challenges_examples' %></div>
    <div class="tab-pane" id="c-javascript"><%= erb :javascript, views: 'views/challenges_examples' %></div>
    <div class="tab-pane" id="c-search"><%= erb :search, views: 'views/challenges_examples' %></div>
  </div>
</div>
